.header__email {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

@media (max-width: 920px) {
  .header__email {
    font-size: 14px;
  }
}

@media (max-width: 710px) {
  .header__email {
    display: none;
  }
}