.header__exit {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: rgba(169, 169, 169, 1);
  margin: 0;
  cursor: pointer;
}

@media (max-width: 920px) {
  .header__exit {
    font-size: 14px;
  }
}

@media (max-width: 710px) {
  .header__exit {
    display: none;
  }
}