@import url(./vendor/normalize.css);
@import url(./vendor/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__link-container/header__link-container.css);
@import url(./blocks/header/__link-container/_active/header__link-container_active.css);
@import url(./blocks/header/__exit/header__exit.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/header/__menu/_active/header__menu_active.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/auth/__container/auth__container.css);
@import url(./blocks/auth/__title/auth__title.css);
@import url(./blocks/auth/__input/auth__input.css);
@import url(./blocks/auth/__button/auth__button.css);
@import url(./blocks/auth/__link/auth__link.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__profile-info/profile__profile-info.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__delet-icon/element__delet-icon.css);
@import url(./blocks/element/__delet-icon/_hidden/card__delet-icon_hidden.css);
@import url(./blocks/element/__delet-icon/_visible/card__delet-icon_visible.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__favourites-container/element__favourites-container.css);
@import url(./blocks/element/__favourites/element__favourites.css);
@import url(./blocks/element/__namber-of-favourites/element__namber-of-favourites.css);
@import url(./blocks/element/__favourites/_active/element__favourites_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/__container_avatar/popup__container_avatar.css);
@import url(./blocks/popup/__container/__container_confirmation/popup__container_confirmation.css);
@import url(./blocks/popup/_position/popup_position_center.css);
@import url(./blocks/popup/__container-info/popup__container-info.css);
@import url(./blocks/popup/__closing-icon/popup__closing-icon.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__input-text/popup__input-text.css);
@import url(./blocks/popup/__input-text/_error/popup__input-text_error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__button/popup__button.css);
@import url(./blocks/popup/__button/_disabled/popup__button_disabled.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container-viev/popup__container-viev.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__title-viev/popup__title-viev.css);
@import url(./blocks/popup/_window/popup_window_viev.css);